---
import {
  contentfulClient,
  type TypeProfileFields,
  type TypeWorkExperienceFields,
} from "../lib/contentful";
import { type Asset } from "contentful";
import BaseLayout from "../layouts/BaseLayout.astro";
const entries = await contentfulClient.getEntries<TypeProfileFields>({
  content_type: "profile",
});

const profileFields = entries.items[0].fields;
const { title, about, preferredTechnologies } = profileFields;
// Explicitly type fields
const workExperience =
  profileFields.workExperience as TypeWorkExperienceFields[];
const profilePicture = profileFields.profilePicture
  ? (profileFields.profilePicture as Asset)
  : null;
const imageUrl = (profilePicture?.fields.file?.url as string) ?? "";
const imageAlt = (profilePicture?.fields?.title as string) ?? "";
---

<BaseLayout
  pageTitle="About"
  pageDescription="Learn more about me and my experience."
>
  <section
    class="container mx-auto flex flex-col items-center justify-center min-h-screen"
  >
    <div class="mt-8 flex flex-col items-center w-full">
      <div>
        {
          profilePicture && (
            <img
              src={imageUrl}
              alt={imageAlt}
              class="w-48 h-48 object-cover rounded-full border-2 border-primaryTeal mx-auto mb-8"
            />
          )
        }
      </div>
      <h1 class="text-4xl font-bold text-primaryTeal text-center">{title}</h1>
      <div class="mt-8 w-full flex justify-center">
        <p class="mt-4 text-primaryWhite text-justify w-3/4">{about}</p>
      </div>
      <div class="mt-8 w-full grid grid-cols-1 sm:grid-cols-2 gap-10">
        <div class="text-center">
          <h2 class="text-2xl font-bold text-primaryTeal">Work Experience</h2>
          {
            workExperience.map((experience: TypeWorkExperienceFields) => {
              const companyUrl = (experience.fields.companyUrl as string) ?? "";
              return (
                <div class="mt-4 text-primaryWhite text-left">
                  {experience.fields.companyLogo &&
                    experience.fields.companyLogo.fields.file &&
                    experience.fields.companyLogo.fields.file.url &&
                    (companyUrl ? (
                      <a
                        href={companyUrl}
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <img
                          src={
                            experience.fields.companyLogo.fields.file
                              .url as string
                          }
                          alt={
                            experience.fields.companyLogo.fields.title as string
                          }
                          class="w-16 h-16 mb-4"
                        />
                      </a>
                    ) : (
                      <img
                        src={
                          experience.fields.companyLogo.fields.file
                            .url as string
                        }
                        alt={
                          experience.fields.companyLogo.fields.title as string
                        }
                        class="w-16 h-16 mb-4"
                      />
                    ))}
                  <h3 class="text-xl font-bold">{experience.fields.title}</h3>
                  <p class="italic">{experience.fields.companyName}</p>
                  <p>
                    {new Date(experience.fields.startDate).toLocaleDateString()}{" "}
                    -{" "}
                    {experience.fields.endDate
                      ? new Date(experience.fields.endDate).toLocaleDateString()
                      : "Present"}
                  </p>
                  <p>{experience.fields.description}</p>
                  {/* {experience.fields.companyInformation && (
                  <div class="mt-2">
                    <a
                      href={
                        experience.fields.companyInformation.fields.companyUrl
                      }
                      target="_blank"
                      class="text-primaryTeal underline"
                    >
                      {experience.fields.companyInformation.fields.companyName}
                    </a>
                  </div>
                )} */}
                </div>
              );
            })
          }
        </div>
        <div class="text-center">
          <h2 class="text-2xl font-bold text-primaryTeal">Education</h2>
          <!-- {
            education.map((edu) => (
              <div class="mt-4 text-primaryWhite text-left">
                <h3 class="text-xl font-bold">{edu.fields.title}</h3>
                {edu.fields.collection.map((item) => (
                  <div class="mt-2">
                    <a
                      href={item.fields.url}
                      target="_blank"
                      class="text-primaryTeal underline"
                    >
                      {item.fields.name}
                    </a>
                    <p>{item.fields.description}</p>
                  </div>
                ))} -->
        </div>
      </div>
    </div>
    <div class="mt-8 text-center w-full">
      <h2 class="text-2xl font-bold text-primaryTeal">
        Preferred Technologies
      </h2>
      <p class="mt-4 text-primaryWhite">{preferredTechnologies}</p>
    </div>
  </section>
</BaseLayout>
