---
import { contentfulClient, type TypeHompageFields } from "../lib/contentful";
import type { EntrySkeletonType } from "contentful";
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "~/components/Button.astro";
// Import the Animations to be applied to the elements
import "../assets/styles/animations.css";
// Extract the RAW SVG code from the SVG file
const { default: rawSvgContent } = await import(
  "../assets/images/laptop.svg?raw"
);

const entries = await contentfulClient.getEntries<TypeHompageFields>({
  content_type: "homepage",
});

const ctaFields = entries.items[0].fields.cta as EntrySkeletonType;
const urlPath =
  typeof ctaFields.fields.urlPath === "string" ? ctaFields.fields.urlPath : "";
const ctaText =
  typeof ctaFields.fields.ctaText === "string" ? ctaFields.fields.ctaText : "";
---

<BaseLayout
  pageTitle="Home"
  pageDescription="Welcome to my portfolio. Explore my projects and skills."
>
  <main class="flex-grow grid grid-cols-1 md:grid-cols-2 gap-4 h-full">
    <div
      class="flex flex-col justify-center items-start lg:items-end p-4 lg:mt-[-10rem] h-full"
    >
      <div class="max-w-lg lg:mr-0 mt-40">
        <h1 class="text-white font-medium leading-tight text-4xl">
          {entries.items[0].fields.title}
        </h1>
        <p class="text-primaryWhite mt-4 mb-10">
          {entries.items[0].fields.blurb}
        </p>
        <Button urlPath={urlPath} text={ctaText} />
      </div>
    </div>
    <div class="flex justify-center items-center p-4 h-full">
      <svg
        class="mt-2 ml-2 hidden sm:block"
        width="80%"
        height="80%"
        set:html={rawSvgContent}
      />
    </div>
  </main>
</BaseLayout>
