---
const today = new Date();
import FooterLink from "./Links.astro";
const { default: githubRaw } = await import("../assets/images/github.svg?raw");
const { default: instagramRaw } = await import(
  "../assets/images/instagram.svg?raw"
);
const { default: linkedinRaw } = await import(
  "../assets/images/linkedin.svg?raw"
);
---

<footer class="bg-primaryGray text-secondaryGray py-4 w-full">
  <nav class="flex justify-center items-center w-full mb-4">
    <div class="internal-links hidden sm:flex space-x-8 lg:space-x-16">
      <FooterLink href="/" class="hover:text-primaryTeal">Home</FooterLink>
      <FooterLink href="/blog" class="hover:text-primaryTeal">Blog</FooterLink>
      <FooterLink href="/about" class="hover:text-primaryTeal">About</FooterLink
      >
      <FooterLink href="/contact" class="hover:text-primaryTeal"
        >Contact</FooterLink
      >
    </div>
    <div class="social-links flex sm:hidden space-x-8">
      <!-- Github -->
      <a
        href="https://github.com/SeanMcTernan/"
        target="_blank"
        class="hover:text-primaryTeal flex items-center"
      >
        <svg width="35" height="35" set:html={githubRaw} />
      </a>
      <!-- LinkedIn -->
      <a
        href="https://www.linkedin.com/in/seanmcternan/"
        target="_blank"
        class="hover:text-primaryTeal flex items-center"
      >
        <svg width="35" height="35" set:html={linkedinRaw} />
      </a>
      <!-- Instagram -->
      <a
        href="https://instagram.com/sean0ftheshred"
        target="_blank"
        class="hover:text-primaryTeal flex items-center"
      >
        <svg width="35" height="35" set:html={instagramRaw} />
      </a>
    </div>
  </nav>
  <div class="flex justify-center space-x-8 my-4 sm:flex">
    <!-- Github -->
    <a
      href="https://github.com/SeanMcTernan/"
      target="_blank"
      class="hover:text-primaryTeal flex items-center"
    >
      <svg
        class="hidden sm:block"
        width="35"
        height="35"
        set:html={githubRaw}
      />
    </a>
    <!-- LinkedIn -->
    <a
      href="https://www.linkedin.com/in/seanmcternan/"
      target="_blank"
      class="hover:text-primaryTeal flex items-center"
    >
      <svg
        class="hidden sm:block"
        width="35"
        height="35"
        set:html={linkedinRaw}
      />
    </a>
    <!-- Instagram -->
    <a
      href="https://instagram.com/sean0ftheshred"
      target="_blank"
      class="hover:text-primaryTeal flex items-center"
    >
      <svg
        class="hidden sm:block"
        width="35"
        height="35"
        set:html={instagramRaw}
      />
    </a>
  </div>
  <div class="text-center mb-4">
    &copy; {today.getFullYear()} Seán Mc Ternan
  </div>
</footer>
