---
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { TypeProjectData } from "../../lib/contentful";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries<TypeProjectData>({
    content_type: "projectData",
  });
  const pages = items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.projectTitle,
      cardImage: item.fields.cardImage,
      content: documentToHtmlString(item.fields.projectBreakdown),
      repoUrl: item.fields.repoUrl,
      technologiesUsed: item.fields.technologiesUsed,
    },
  }));
  return pages;
}

const { title, cardImage, content, repoUrl, technologiesUsed } = Astro.props;
---

<BaseLayout
  pageTitle={title}
  pageDescription=`A project page for the ${title} project.`
>
  <html lang="en">
    <head>
      <title>{title}</title>
    </head>
    <body>
      <h1>{title}</h1>
      <article set:html={content} />
    </body>
  </html>
</BaseLayout>
