---
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { TypeProjectData } from "../../lib/contentful";
import BaseLayout from "../../layouts/BaseLayout.astro";
const { default: githubRaw } = await import(
  "../../assets/images/github.svg?raw"
);

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries<TypeProjectData>({
    content_type: "projectData",
  });
  const pages = items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.projectTitle,
      overview: item.fields.projectOverview,
      content: documentToHtmlString(item.fields.projectBreakdown),
      repoUrl: item.fields.repoUrl,
      technologiesUsed: item.fields.technologiesUsed,
      images: item.fields.projectImages,
    },
  }));
  return pages;
}

const { content, images, overview, repoUrl, technologiesUsed, title } =
  Astro.props;
---

<BaseLayout
  pageTitle={title}
  pageDescription={`A project page for the ${title} project.`}
>
  <html lang="en">
    <head>
      <title>{title}</title>
    </head>
    <body class="flex items-center justify-center min-h-screen">
      <div class="text-center px-12 md:px-24 lg:px-72">
        <h1
          class="font-fine text-primaryTeal mb-10 text-4xl md:text-6xl lg:text-8xl"
        >
          {title}
        </h1>
        <p class="text-primaryWhite text-justify">{overview}</p>
      </div>
    </body>
  </html>
</BaseLayout>
