---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { contentfulClient } from "../../lib/contentful";
import type { TypeProjectData } from "../../lib/contentful";

const entries = await contentfulClient.getEntries<TypeProjectData>({
  content_type: "projectData",
});
---

<BaseLayout
  pageTitle="Projects"
  pageDescription="Explore my projects and skills."
>
  <ul>
    {
      entries.items.map((item) => (
        <li>
          <img
            src={item.fields.cardImage.fields.file.url}
            alt={item.fields.cardImage.fields.title}
          />
          <a href={`/projects/${item.fields.slug}/`}>
            <h2>{item.fields.projectTitle}</h2>
          </a>
          <p>{item.fields.infoCardDescription}</p>
        </li>
      ))
    }
  </ul>
</BaseLayout>
